<mat-card class="example-card">
    <mat-card-header style="padding-bottom: 10px;">
        <mat-card-title>{{ replay.Item.title }}</mat-card-title>
        <mat-card-subtitle>{{ replay.Item.gameInfo }}</mat-card-subtitle>
    </mat-card-header>
    <video controls="true"></video>
    <mat-card-content>
        <p style="padding-top: 10px;">
            {{ replay.Item.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div  *ngIf="replay.Item.overturn == null">
            <button mat-raised-button color="primary" mat-button style="background-color: green;" (click)="vote(false)">CONFIRM CALL</button>
            &nbsp;
            <button mat-raised-button color="primary" mat-button style="background-color:firebrick;" (click)="vote(true)">OVERTURN CALL</button>
        </div>
        <div  *ngIf="replay.Item.overturn != null">
            <replay-vote-stats></replay-vote-stats>
        </div>
    </mat-card-actions>
</mat-card>




