<div style="text-align:center; padding-bottom:10pt">
<img
    alt="Advertisement"
    src="/assets/images/amazon-ad.png"
    style="max-width: 100%; height: auto;"
  />
</div>
<!-- Cards with media area -->
<div  *ngFor="let replay of replays.Items" style="padding-bottom: 15px;">
<mat-card mat-elevation-z8>
    <mat-card-header>
    <mat-card-title-group>
        <mat-card-title>{{replay.title}}</mat-card-title>
        <mat-card-subtitle>{{replay.gameInfo}}</mat-card-subtitle>
        <img mat-card-sm-image src="{{replay.thumbnail}}" >
    </mat-card-title-group>
    </mat-card-header>
    <mat-card-content style="text-align: center;">
        <div style="padding-bottom: 10px; text-align: left;">{{replay.description}}</div>
        <div *ngIf="true">
            <div *ngIf="!componentReady">
                Loading...
            </div>
            <div *ngIf="!replay.voted;then showVote else showView">here is ignored</div>
                <ng-template #showVote>
                    <button mat-raised-button color="primary" style="width: 95%;" [routerLink]="['/replays', replay.videoId]">Vote</button>
                </ng-template>
                <ng-template #showView>
                    <button mat-stroked-button color="primary" style="width: 95%; background-color: #e5e5e5; color:black" [routerLink]="['/replays', replay.videoId]">View Results</button>
                </ng-template>
            </div>
    </mat-card-content>
</mat-card>
</div>